<html>
  <head>
    <style>
      @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Regular.woff2")
      format("woff2"); font-weight: 100 400; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-RegularItalic.woff2")
      format("woff2"); font-weight: 100 400; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Medium.woff2")
      format("woff2"); font-weight: 500 600; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-MediumItalic.woff2")
      format("woff2"); font-weight: 500 600; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Bold.woff2")
      format("woff2"); font-weight: 700 800; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-BoldItalic.woff2")
      format("woff2"); font-weight: 700 800; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-BlackItalic.woff2")
      format("woff2"); font-weight: 900; font-style: italic; font-display: swap;
      } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Black.woff2")
      format("woff2"); font-weight: 900; font-style: normal; font-display: swap;
      }
    </style>

  </head>
  <body style="background-color: #EEF2FC; padding: 34px 0;">
    <center>
      <div
        style='
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
          mso-table-lspace: 0pt;
          mso-table-rspace: 0pt;
          margin: 0;
          padding: 44px 24px;
          border-collapse: collapse !important;
          background-color: #FFFFFF;
          width: 560px;
          border: 1px solid transparent;
          border-radius: 10px;
          box-shadow: 0px 0px 56px rgba(83, 83, 191, 0.07);
          font-family: "CircularStd", Arial, sans-serif;
        '
      >
        <img
          src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/branding/bud-logotype-sm.png"
          alt="Logotipo do Bud"
          width="105px"
          height="auto"
          style="
            -ms-interpolation-mode: bicubic;
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
          "
        />

      <div style="padding: 44px 0; width: 400px;">
        <img src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/images/comment-receiving.png"
          alt="Ilustração representando dois balões de fala e um aviãozinho de papel entre nuvens representando os comentários do Bud." />
        <h1 style="
            font-weight: 700;
            font-size: 21px;
            font-weight: 700;
            color: #364059;
            padding-top: 21px;
          "
          >
            You received a new comment
on a Routine on Bud! 💬
          </h1>
        </div>

        

        <div
          style="
          border-top: 1px solid #DDE5EE;
          border-bottom: 1px solid #DDE5EE;
          padding: 21px 0;
        "
        >
          <table
            cellspacing="18px"
            table-layout="fixed"
            style="min-width: 100%; border-collapse: collapse;"
          >
            <tr>
              <td
                style="vertical-align: top; width: 50px; padding-right: 14px;"
              >
                <div
                  style="
                    min-width: 50px;
                    max-width: 50px;
                    min-height: 50px;
                    max-height: 50px;
                    border: 1px solid transparent;
                    border-radius: 9999px;
                    overflow: hidden;
                    line-height: 50px;
                    background: #E2E2FF;
                    text-align: center;
                    color: #6F6EFF;
                    font-weight: 700;
                    font-size: 16.8px;
                  "
                >
                {{#if authorPictureURL }}
                  <img width="50px" height="50px" src={{authorPictureURL}} />
                {{else}}
                  {{authorInitials}}
                {{/if}}
                </div>
              </td>

              <td>
                <div style="padding-bottom: 14px;">
                  <h2
                    style="
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 21px;
                      color: #525F7F;
                      margin: 0;
                      padding: 0;
                      padding-bottom: 5px;
                    "
                  >
                  {{firstName}} {{lastName}}
                  </h2>

                  <p
                    style="
                      font-size: 14px;
                      line-height: 17px;
                      color: #8193AB;
                      margin: 0;
                      font-weight: 450;
                    "
                  >
                    commented on your answer to a routine:
                  </p>
                </div>

                <table>
                  <tr>

                    <td 
                    style="
                      padding: 0;
                      margin: 0;
                      display: flex;
                      align-items: center;
                    "
                    >
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="11" cy="11.6517" r="11" fill="#FFDFE1"/>
                              <g filter="url(#filter0_d_1274_19960)">
                              <path d="M5.5 9.68735V14.4455C5.5 16.4205 6.74726 17.6517 8.70458 17.6517H13.5392C15.5151 17.6517 16.75 16.4455 16.75 14.4836V9.68735H5.5Z" fill="white"/>
                              <path d="M13.6565 14.7392C13.3725 14.733 13.144 14.4955 13.144 14.208C13.1379 13.9205 13.3663 13.6836 13.6503 13.6773H13.6565C13.9467 13.6773 14.1814 13.9148 14.1814 14.208C14.1814 14.5017 13.9467 14.7392 13.6565 14.7392Z" fill="#525F7F"/>
                              <path d="M11.1372 12.4392C10.8532 12.4523 10.6186 12.2267 10.6062 11.9398C10.6062 11.6523 10.8285 11.4148 11.1125 11.4017C11.3904 11.4017 11.6188 11.6211 11.625 11.9017C11.6374 12.1898 11.4151 12.4273 11.1372 12.4392Z" fill="#525F7F"/>
                              <path d="M11.1372 14.708C10.8532 14.7211 10.6186 14.4955 10.6062 14.208C10.6062 13.9205 10.8285 13.6836 11.1125 13.6705C11.3904 13.6705 11.6188 13.8898 11.625 14.1711C11.6374 14.4586 11.4151 14.6961 11.1372 14.708Z" fill="#525F7F"/>
                              <path d="M8.59952 12.4392C8.31549 12.4523 8.08086 12.2267 8.06851 11.9398C8.06851 11.6523 8.2908 11.4148 8.57482 11.4017C8.85268 11.4017 9.08114 11.6211 9.08731 11.9017C9.09966 12.1898 8.87738 12.4273 8.59952 12.4392Z" fill="#525F7F"/>
                              <path d="M8.5933 14.708C8.30928 14.7211 8.07464 14.4955 8.06229 14.208C8.06229 13.9205 8.28458 13.6836 8.56861 13.6705C8.84646 13.6705 9.07492 13.8898 9.08109 14.1711C9.09344 14.4586 8.87116 14.6961 8.5933 14.708Z" fill="#525F7F"/>
                              <path d="M13.1501 11.9336C13.1501 11.6461 13.3724 11.4148 13.6564 11.4086C13.9343 11.4086 14.1566 11.6329 14.1689 11.9086C14.1751 12.1961 13.9528 12.4336 13.675 12.4392C13.3909 12.4454 13.1563 12.2267 13.1501 11.9398V11.9336Z" fill="#525F7F"/>
                              <path d="M5.50198 9.68726C5.51001 9.32039 5.54088 8.59226 5.59892 8.35789C5.8953 7.03976 6.90175 6.20226 8.34041 6.08289H13.9098C15.3362 6.20851 16.355 7.05164 16.6513 8.35789C16.7088 8.58601 16.7396 9.31976 16.7477 9.68726H5.50198Z" fill="#FF616A"/>
                              <path d="M8.81562 8.02045C9.0873 8.02045 9.29106 7.81483 9.29106 7.5392V5.63358C9.29106 5.35795 9.0873 5.1517 8.81562 5.1517C8.54394 5.1517 8.34018 5.35795 8.34018 5.63358V7.5392C8.34018 7.81483 8.54394 8.02045 8.81562 8.02045Z" fill="#525F7F"/>
                              <path d="M13.4342 8.02045C13.6997 8.02045 13.9096 7.81483 13.9096 7.5392V5.63358C13.9096 5.35795 13.6997 5.1517 13.4342 5.1517C13.1625 5.1517 12.9588 5.35795 12.9588 5.63358V7.5392C12.9588 7.81483 13.1625 8.02045 13.4342 8.02045Z" fill="#525F7F"/>
                              </g>
                              <defs>
                              <filter id="filter0_d_1274_19960" x="5" y="5.1517" width="12.25" height="13.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                              <feOffset dy="0.5"/>
                              <feGaussianBlur stdDeviation="0.25"/>
                              <feComposite in2="hardAlpha" operator="out"/>
                              <feColorMatrix type="matrix" values="0 0 0 0 0.321569 0 0 0 0 0.372549 0 0 0 0 0.498039 0 0 0 0.3 0"/>
                              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1274_19960"/>
                              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1274_19960" result="shape"/>
                              </filter>
                              </defs>
                        </svg>
                        <p  
                         style="
                          padding-left: 7px;
                          color: #525F7F;
                          font-weight: 700;
                          font-size: 14px;
                          "
                        >
                            Weekly Retrospective
                        </p>
                    </td>
                  </tr>
                </table>

                <p
                  style="
                    font-size: 14px;
                    font-weight: 450;
                    line-height: 18px;
                    letter-spacing: -0.65625px;
                    text-align: left;
                    color: #525F7F;
                    margin-top: 10px;
                  "
                >
                  {{commentText}}
                </p>
              </td>
            </tr>
          </table>
        </div>

        <div
          style="
          padding: 34px 0 0 0;
          width: 400px;
        "
        >
          <p
            style="
              font-size: 14px;
              line-height: 26px;
              color: #525F7F;
            "
          >
            Access Bud to reply to this comment:
          </p>

          <div style="padding: 16px 0 0 0;">
            <a href="https://app.getbud.co/explore/{{companyId}}?activeTab=retrospectiva&answerId={{answerId}}">
              <button
                style="
                  border: 1px solid transparent;
                  border-radius: 6px;
                  background-color: #6F6EFF;
                  color: #FFFFFF;
                  font-size: 14px;
                  font-weight: 700;
                  padding: 16px 0;
                  width: 300px;
                  cursor: pointer;
                "
              >
                Access Bud
              </button>
            </a>
          </div>
        </div>
      </div>

      <img
        src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/branding/bud-logotype-grayscale-sm.png"
        alt="Logotipo do Bud em tons de cinza"
        style="
          -ms-interpolation-mode: bicubic;
          border: 0;
          height: auto;
          line-height: 100%;
          outline: none;
          text-decoration: none;
          padding-top: 34px;
        "
      />

    </center>
  </body>
</html>
