<html>
  <head>
    <style>
      @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Regular.woff2")
      format("woff2"); font-weight: 100 400; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-RegularItalic.woff2")
      format("woff2"); font-weight: 100 400; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Medium.woff2")
      format("woff2"); font-weight: 500 600; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-MediumItalic.woff2")
      format("woff2"); font-weight: 500 600; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Bold.woff2")
      format("woff2"); font-weight: 700 800; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-BoldItalic.woff2")
      format("woff2"); font-weight: 700 800; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-BlackItalic.woff2")
      format("woff2"); font-weight: 900; font-style: italic; font-display: swap;
      } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Black.woff2")
      format("woff2"); font-weight: 900; font-style: normal; font-display: swap;
      }
    </style>

  </head>
  <body style="background-color: #EEF2FC; padding: 34px 0;">
    <center>
      <div
        style='
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
          mso-table-lspace: 0pt;
          mso-table-rspace: 0pt;
          margin: 0;
          padding: 44px 24px;
          border-collapse: collapse !important;
          background-color: #FFFFFF;
          width: 560px;
          border: 1px solid transparent;
          border-radius: 10px;
          box-shadow: 0px 0px 56px rgba(83, 83, 191, 0.07);
          font-family: "CircularStd", Arial, sans-serif;
        '
      >
        <img
          src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/branding/bud-logotype-sm.png"
          alt="Logotipo do Bud"
          width="105px"
          height="auto"
          style="
            -ms-interpolation-mode: bicubic;
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
          "
        />

      <div style="padding: 44px 0; width: 400px;">
        <img src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/images/woman-low-confidance.png"
          alt="Ilustração representando uma mulher com expressão preocupada enquanto segura o ícone de um resultado-chave com um símbolo indicando baixa confiança." />
        <h1 style="
            font-weight: 700;
            font-size: 21px;
            font-weight: 700;
            color: #364059;
            padding-top: 21px;
          "
          >
          {{recipientFirstName}}, the team {{teamName}} just reported
            reportou <span style="color: #FF616A;">low confidence</span> low confidence in a key result! 😕
          </h1>

          <p
            style="
            font-size: 14px;
            color: #525F7F;
            line-height: 21px;
            font-weight: 400;
          "
          >
            {{authorFirstName}}
            has shared that he’s not feeling optimistic about one of his key results:
          </p>
        </div>

        <h2
          style="
          font-weight: 700;
          font-size: 12px;
          color: #8491B0;
          text-transform: uppercase;
          text-align: left;
          padding-bottom: 5px;
        "
        >
          {{#if isQuarterlyCadence}}Quarterly{{else}}Yearly{{/if}}
          OKR - 
          {{cyclePeriod}}
        </h2>

        <div
          style="
          border-top: 1px solid #DDE5EE;
          border-bottom: 1px solid #DDE5EE;
          padding: 21px 0;
        "
        >
          <table
            cellspacing="18px"
            table-layout="fixed"
            style="min-width: 100%; border-collapse: collapse;"
          >
            <tr>
              <td
                style="vertical-align: top; width: 50px; padding-right: 14px;"
              >
                <div
                  style="
                    min-width: 50px;
                    max-width: 50px;
                    min-height: 50px;
                    max-height: 50px;
                    border: 1px solid transparent;
                    border-radius: 9999px;
                    overflow: hidden;
                    line-height: 50px;
                    background: #E2E2FF;
                    text-align: center;
                    color: #6F6EFF;
                    font-weight: 700;
                    font-size: 16.8px;
                  "
                >
                {{#if authorPictureURL }}
                  <img width="50px" height="50px" src="{{authorPictureURL}}" />
                {{else}}
                  {{authorInitials}}
                {{/if}}
                </div>
              </td>

              <td>
                <div style="padding-bottom: 14px;">
                  <h2
                    style="
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 21px;
                      color: #525F7F;
                      margin: 0;
                      padding-bottom: 5px;
                    "
                  >
                    {{authorFullName}}
                  </h2>

                  <p
                    style="
                      font-size: 14px;
                      line-height: 17px;
                      color: #8193AB;
                      margin: 0;
                    "
                  >
                    reported low confidence in a key result:
                  </p>
                </div>

                <table style="margin-bottom: 9px;">
                  <tr>
                    <td
                      style="
                        width: 2px;
                        height: 100%;
                        border: 1px solid transparent;
                        border-radius: 9999px;
                        background-color: #FF616A;
                        padding: 0;
                        color: #364059;
                      "
                    ></td>

                    <td>
                      <h3
                        style="
                          color: #525F7F;
                          font-size: 14px;
                          font-weight: 700;
                          line-height: 18px;
                          margin: 0;
                          padding: 9px 0 9px 14px;
                        "
                      >
                        {{keyResultTitle}}
                      </h3>
                    </td>
                  </tr>
                </table>

                <span style="padding-left: 21px;">
                  <span
                    style="
                    color: {{keyResultPreviousConfidenceTagColorPrimary}};
                    font-size: 10px;
                    line-height: 12px;
                    font-weight: 500;
                    text-align: center;
                    background-color: {{keyResultPreviousConfidenceTagColorBackground}};
                    border-radius: 3px;
                    padding: 5px 7px;
                    display: {{#if hasPreviousCheckIn}}inline-block{{else}}none{{/if}};
                  "
                  >
                    {{#if wasHighConfidence}}HIGH CONFIDENCE{{/if}}
                    {{#if wasMediumConfidence}}MEDIUM CONFIDENCE{{/if}}
                    {{#if wasWithBarrier}}ROADBLOCK{{/if}}
                  </span>

                  <img
                    src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/icons/arrow-right.png"
                    style="
                      padding: 0 9px;
                      vertical-align: middle;
                      display: {{#if hasPreviousCheckIn}}inline-block{{else}}none{{/if}};
                    "
                  />

                  <span
                    style="
                    color: #FF616A;
                    font-size: 10px;
                    line-height: 12px;
                    font-weight: 500;
                    text-align: center;
                    background-color: #FFF0F1;
                    border-radius: 3px;
                    padding: 5px 7px;
                  "
                  >
                    LOW CONFIDENCE
                  </span>
                </span>

                {{#if hasComment}}
                  <p
                    style="
                      font-size: 14px;
                      line-height: 18px;
                      color: #8193AB;
                      padding-top: 9px;
                    "
                  >
                    “{{keyResultComment}}"
                  </p>
                {{/if}}
              </td>
            </tr>
          </table>
        </div>

        <div
          style="
          padding: 34px 0 0 0;
          width: 400px;
        "
        >
          <p
            style="
              font-size: 14px;
              line-height: 26px;
              color: #525F7F;
            "
          >
            You can comment or offer help by accessing Bud and navigating to the sidebar of this key result: 
          </p>

          <div style="padding: 16px 0 0 0;">
            <a href="https://app.getbud.co/en-US/explore/{{teamID}}">
              <button
                style="
                  border: 1px solid transparent;
                  border-radius: 6px;
                  background-color: #6F6EFF;
                  color: #FFFFFF;
                  font-size: 14px;
                  font-weight: 700;
                  padding: 16px 0;
                  width: 300px;
                  cursor: pointer;
                "
              >
                Access Bud
              </button>
            </a>
          </div>
        </div>
      </div>

      <img
        src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/branding/bud-logotype-grayscale-sm.png"
        alt="Logotipo do Bud em tons de cinza"
        style="
          -ms-interpolation-mode: bicubic;
          border: 0;
          height: auto;
          line-height: 100%;
          outline: none;
          text-decoration: none;
          padding-top: 34px;
        "
      />

    </center>
  </body>
</html>
